<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="Final_project_2.Properties.Settings.TapNgo_Metro_ServiceConnectionString"
   connectionString="Data Source=ABRARLAPTOP\SQLEXPRESS;Initial Catalog=&quot;TapNgo Metro Service&quot;;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.windows.forms jitDebugging="true" />
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
