<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TapNgoConnectionString"
			 connectionString="Data Source=ABRARLAPTOP\SQLEXPRESS;Initial Catalog=TapNgo Metro Service;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!-- Add other sections here as needed -->
</configuration>
